<!DOCTYPE html>
<html layout:decorate="~{core/base}">
<body>
<div layout:fragment="main">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="d-flex bd-highlight mb-2">
                        <h3 class="mr-auto bd-highlight">INSTITUIÇÃO</h3>
                        <div class="align-self-center mr-3"><a class="btn btn-warning px-5" th:href="@{/instituicoes/new_instituicao}">Novo</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">Codigo</th>
                                    <th class="text-center">Instituição</th>
                                </tr>
                                </thead>
                                <tbody th:each="i : ${instituicaos}">
                                <tr>
                                    <th scope="row" class="text-center align-middle py-1"><h6 class="mb-0" th:text="*{i.id}"></h6></th>
                                    <td class="align-middle py-1"><h6 class="mb-0" th:text="*{i.nome}"></h6></td>
                                    <td class="text-center align-middle py-1">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a th:href="@{/instituicoes/update/{id} (id=${i.id})}" class="btn btn-success "><i
                                                    class="feather icon-edit-2"></i></a>
                                        </div>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>