<!DOCTYPE html>
<html layout:decorate="~{core/base}">
<body>
<div layout:fragment="main">
    <div class="pcoded-content pt-0">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <form method="post" th:object="${funcionario}" th:action="@{/funcionarios/new_func}">
                        <h4 class="mb-0 pb-0">Dados Cadastrais</h4>
                        <hr class="mt-1 pt-0">
                        <div class="form-row align-items-end">
                            <div class="form-group col-md-12">
                                <label for="id_nome">Nome:</label>
                                <input type="text" name="nome" maxlength="255" class="form-control" required=""
                                       id="id_nome" placeholder="Nome" th:field="*{nome}">
                                <div class="text-danger font-weight-bold"></div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="form-group col-md-4">
                                <label for="id_matricula">Matricula:</label>
                                <input type="number" name="matricula" class="form-control" required=""
                                       id="id_matricula" placeholder="0000" th:field="*{matricula}">
                                <div class="text-danger font-weight-bold"></div>
                            </div>

<!--                            <div class="form-group col-md-4 ">-->
<!--                                <label for="id_dt_admissao">Admitido em:</label>-->
<!--                                <input type="date" name="dt_admissao" class="form-control data-mask" required=""-->
<!--                                       id="id_dt_admissao" th:field="*{matricula}">-->
<!--                                <div class="text-danger font-weight-bold"></div>-->
<!--                            </div>-->
                            <div class="form-group col-md-8">
                                <label for="id_cargo">Cargo</label>
                                <select id="id_cargo" class="form-control" th:field="*{cargo}">
                                    <option value="" selected>Escolher...</option>
                                    <option th:each="c : ${cargos}" th:value="${c.id}" th:text="${c.nome}"></option>
                                </select>
                            </div>
                        </div>
                        <h4 class="mb-0 pb-0">Contato</h4>
                        <hr class="mt-1 pt-0">
                        <div class="row form-group">
                            <div class="form-group col-md-4">
                                <label for="id_telefone">Telefone:</label>
                                <input type="text" name="telefone" maxlength="11" minlength="10"
                                       class="form-control tel-mask" required=""
                                       id="id_telefone" placeholder="(99) 9 9999-9999" th:field="*{telefone}">
                                <div class="text-danger font-weight-bold"></div>
                            </div>
                        </div>

                        <h4 class="mb-0 pb-0">Endereço</h4>
                        <hr class="mt-1 pt-0">
                        <div class="form-row align-items-end">
                            <div class="form-group col-md-2">
                                <label for="id_cep">CEP:</label>
                                <input type="text" name="cep" class="form-control" required=""
                                       id="id_cep" th:field="*{endereco.cep}">
                                <div class="text-danger font-weight-bold"></div>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="id_rua">Rua:</label>
                                <input type="text" name="rua" maxlength="255" class="form-control" required=""
                                       id="id_rua" th:field="*{endereco.logradouro}">
                                <div class="text-danger font-weight-bold"></div>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="id_numero">Numero:</label>
                                <input type="number" name="numero" class="form-control" required=""
                                       id="id_numero" th:field="*{endereco.numero}">
                                <div class="text-danger font-weight-bold"></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="id_bairro">Bairro:</label>
                                <input type="text" name="bairro" maxlength="255" class="form-control" required=""
                                       id="id_bairro" th:field="*{endereco.bairro}">
                                <div class="text-danger font-weight-bold"></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="id_cidade">Cidade</label>
                                <select id="id_cidade" class="form-control" th:field="*{endereco.cidade}">
                                    <option value="" selected>Escolher...</option>
                                    <option th:each="d : ${cidades}" th:value="${d.id}" th:text="${d.nome}">...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="id_estado">Estado</label>
                                <select id="id_estado" class="form-control" th:field="*{endereco.uf}">
                                    <option value="" selected>Escolher...</option>
                                    <option th:each="uf : ${ufs}" th:value="${uf}" th:text="${uf.sigla}">...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="id_complemento">Complemento:</label>
                                <input type="text" name="complemento" maxlength="255" class="form-control" required=""
                                id="id_complemento" th:field="*{endereco.complemento}">
                                <div class="text-danger font-weight-bold"></div>
                            </div>
                        </div>
                        <div class="text-center mb-3">
                            <button type="submit" class="btn btn-primary btn-lg  w-25">Salvar</button>
                            <a th:href="@{/funcionarios/listar}" class="btn btn-secondary btn-lg  w-25">Cancelar</a>
                        </div>
                    </form>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
