<!DOCTYPE html>
<html layout:decorate="~{core/base}">
<body>
<div layout:fragment="main">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="d-flex bd-highlight mb-2">
                        <h3 class="mr-auto bd-highlight">FUNCIONARIOS</h3>
                        <div class="align-self-center mr-3">
                            <a class="btn btn-warning px-5" th:href="@{/funcionarios/new_func}">NOVO</a>
                        </div>
                        <div class="align-self-center mr-3"
                             th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                            <a class="btn btn-success px-3" th:href=" @{/funcionarios/export/excel}">EXPORTAR</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">Matricula</th>
                                    <th class="text-center">Nome</th>
                                    <th class="text-center">Cargo</th>
                                    <th class="text-center">Local de Trabalho</th>
                                    <th class="text-center">Ação</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="func : ${funcionarios}">
                                    <th scope="row" class="text-center align-middle">
                                        <h6
                                                th:text="*{func.matricula}">
                                        </h6>
                                    </th>
                                    <td class="align-middle">
                                        <h6 th:text="*{func.nome}"></h6>
                                    </td>
                                    <td class="text-center align-middle">
                                        <h6 th:text="${func?.cargo?.nome}"></h6>
                                    </td>
                                    <td class="text-center align-middle">
                                        <h6 th:text="${func?.lotacao?.nome}"></h6>
                                    </td>
                                    <td class="text-center align-middle">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a th:href="@{/funcionarios/update/{id} (id=${func.id})}"
                                               class="btn btn-success ">
                                                <i class="feather icon-edit-2"></i>
                                            </a>
                                            <a th:href="@{/funcionarios/detail/{id} (id=${func.id})}"
                                               class="btn btn-warning">
                                                <i class="feather icon-eye"></i>
                                            </a>
                                            <a th:href="@{/funcionarios/delete/{id} (id=${func.id})}"
                                               class="btn btn-danger">
                                                <i class="feather icon-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>