<!DOCTYPE html>
<html layout:decorate="~{core/base}">
<body>
<div layout:fragment="main">
    <div class="pcoded-content pt-0">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <form method="post" th:object="${protocolo}" th:action="@{/protocolos/new_protocolo}">
                        <h4 class="mb-0 pb-0">Dados Cadastrais</h4>
                        <hr class="mt-1 pt-0">
                        <div class="form-row align-items-end">
                            <div class="form-group col-md-12">
                                <label for="id_lotacao">Categoria</label>
                                <select id="id_lotacao" class="form-control" th:field="*{categoria}">
                                    <option value="" selected>Escolher...</option>
                                    <option th:each="c : ${categorias}" th:value="${c.id}"
                                            th:text="${c.nome}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="id_assunto">Assunto:</label>
                                <input type="text" name="assunto" maxlength="255" class="form-control" required=""
                                       id="id_assunto" placeholder="Nome" th:field="*{assunto}">
                                <div class="text-danger font-weight-bold"></div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="id_descricao">Descrição:</label>
                                <textarea class="form-control" id="id_descricao" rows="5"
                                          th:field="*{descricao}"></textarea>
                                <div class="text-danger font-weight-bold"></div>
                            </div>
                        </div>

                        <div class="text-center mb-3">
                            <button type="submit" class="btn btn-primary btn-lg  w-25">Salvar</button>
                            <a th:href="@{/protocolos/my_protocol}" class="btn btn-secondary btn-lg  w-25">Cancelar</a>
                        </div>
                    </form>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
