<!DOCTYPE html>
<html layout:decorate="~{core/base}">
<body>
<div layout:fragment="main">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="d-flex bd-highlight mb-2">
                        <h3 class="mr-auto bd-highlight">PROTOCOLO</h3>
                        <div class="align-self-center mr-3">
                            <a class="btn btn-warning px-5" th:href="@{/protocolos/new_protocolo}">Novo</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">Nº</th>
                                    <th class="text-center">Solicitação</th>
                                    <th class="text-center">Funcionario</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Ação</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="protocolo : ${protocolos}">
                                    <th scope="row" class="text-center align-middle py-1">
                                        <h6 class="mb-1" th:text="*{protocolo.nProtocolo}"></h6></th>
                                    <td class="text-center align-middle py-1">
                                        <h6 class="mb-1" th:text="*{protocolo.assunto}"></h6>
                                    </td>
                                    <td class="align-middle py-1">
                                        <h6 class="mb-1" th:text="*{protocolo.funcionario.nome}"></h6>
                                    </td>
                                    <td class="text-center align-middle py-1">
                                        <h6 class="text-muted">
                                            <i class="fas fa-circle text-c-yellow f-10 m-r-15"></i>
                                            PENDENTE
                                        </h6>
                                    </td>
                                    <td class="text-center align-middle py-1">
                                        <div class="btn-group" role="group" aria-label="Basic example" href="#">
                                            <a class="btn btn-success px-2 py-1"
                                               th:if="${#authorization.expression('hasAuthority(''USER'')')}">
                                                <i class="feather icon-edit-2"></i>
                                            </a>
                                            <a class="btn btn-success px-2 py-1"
                                               th:href="@{/resposta_protocolo/new_resposta_protocolo/{id_protocolo} (id_protocolo=${protocolo.id})}"
                                               th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''USER_ADMIN'')')}">
                                                <i class="feather icon-shuffle"></i>
                                            </a>
                                            <!--                                            <a class="btn btn-secondary px-2 py-1"-->
                                            <!--                                               th:href="@{/resposta_protocolo/update/{id} (id=${protocolo.id})}"-->
                                            <!--                                               th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''USER_ADMIN'')')}">-->
                                            <!--                                                <i class="feather icon-edit-2"></i>-->
                                            <!--                                            </a>-->
                                            <a class="btn btn-warning px-2 py-1"
                                               th:href="@{/resposta_protocolo/detail/{id} (id=${protocolo.id})}">
                                                <i class="feather icon-eye"></i>
                                            </a>
                                            <a class="btn btn-danger px-2 py-1"
                                               th:if="${#authorization.expression('hasAuthority(''USER'')')}">
                                                <i class="feather icon-x-circle"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>