<!DOCTYPE html>
<html layout:decorate="~{core/base}">
<body>
<div layout:fragment="main">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <div th:replace="core/fragments/alert"></div>
                    <!-- [ Main Content ] start -->
                    <div class="d-flex bd-highlight mb-2">
                        <h3 class="mr-auto bd-highlight">AVISOS</h3>
                        <div class="align-self-center mr-3"
                             th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''USER_ADMIN'')')}">
                            <a class="btn btn-warning px-5" href="/avisos/new_aviso">Novo</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">Aviso</th>
                                    <th class="text-center">Ultima atualização</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Ação</th>
                                </tr>
                                </thead>
                                <tbody th:each="a : ${avisos}">
                                <tr>
                                    <th scope="row" class="align-middle text-center"><h6 th:text="*{a.titulo}"></h6>
                                    </th>
                                    <th scope="row" class="text-center align-middle">
                                        <h6 th:text="${#temporals.format(a.updated_at, 'dd/MM/yyyy')}"></h6>
                                    </th>
                                    <td class="text-center align-middle">
                                        <h6 class="text-muted">
                                            <i class="fas fa-circle text-c-green f-10 m-r-15"></i>
                                            ATIVO
                                        </h6>
                                    </td>
                                    <td class="text-center align-middle">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a th:href="@{/avisos/detail/{id} (id=${a.id})}" class="btn btn-warning">
                                                <i class="feather icon-eye"></i>
                                            </a>
                                            <a th:href="@{/avisos/update/{id} (id=${a.id})}" class="btn btn-success"
                                               th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''USER_ADMIN'')')}">
                                                <i class="feather icon-edit-2"></i>
                                            </a>
                                            <a th:href="@{/avisos/delete/{id} (id=${a.id})}" class="btn btn-danger"
                                               th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''USER_ADMIN'')')}">
                                                <i class="feather icon-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

