<nav class="pcoded-navbar" th:fragment="frag-sidebar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/home" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-lock"></i>
                </div>
                <span class="b-title">S-PROTOCOLO</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navegação</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item"
                    th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''USER_ADMIN'')')}">
                    <a href="/home" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-home"></i>
                        </span>
                        <span class="pcoded-mtext">Home</span>
                    </a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item"
                    th:if="${#authorization.expression('hasAuthority(''USER'')')}">
                    <a href="/home_user" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-home"></i>
                        </span>
                        <span class="pcoded-mtext">Home</span>
                    </a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item"
                    th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''USER_ADMIN'')')}">
                    <a class="nav-link" th:href="@{/funcionarios/listar}">
                        <span class="pcoded-micon">
                            <i class="feather icon-users"></i>
                        </span>
                        <span class="pcoded-mtext">Funcionarios</span>
                    </a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item"
                    th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''USER_ADMIN'')')}">
                    <a class="nav-link" th:href="@{/protocolos/listar}">
                    <span class="pcoded-micon">
                            <i class="feather icon-file-text"></i>
                        </span>
                        <span class="pcoded-mtext">Protocolos</span>
                    </a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item"
                    th:if="${#authorization.expression('hasAuthority(''USER'')')}">
                    <a class="nav-link" th:href="@{/protocolos/my_protocol}">
                    <span class="pcoded-micon">
                            <i class="feather icon-file-text"></i>
                        </span>
                        <span class="pcoded-mtext">Meus protocolos</span>
                    </a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item"
                    th:if="${#authorization.expression('hasAuthority(''USER'')')}">
                    <a class="nav-link" th:href="@{/avisos/my_avisos}">
                    <span class="pcoded-micon">
                            <i class="feather icon-file-text"></i>
                        </span>
                        <span class="pcoded-mtext">Meus Avisos</span>
                    </a>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-edit"></i></span><span class="pcoded-mtext">Gerenciar</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a th:href="@{/avisos/listar}" class="">Avisos</a></li>
                        <li class=""><a th:href="@{/cargos/listar}">Cargos</a></li>
                        <li class=""><a th:href="@{/categorias/listar}">Categorias protocolo</a></li>
                        <li class=""><a th:href="@{/subsetores/listar}">Sub Setor</a></li>
                        <li class=""><a th:href="@{/setores/listar}">Setor</a></li>
                        <li class=""><a th:href="@{/instituicoes/listar}">Instituição</a></li>
                        <li class=""><a th:href="@{/users/listar}">User</a></li>
                        <li class=""><a th:href="@{/logs/listar}">LOGS</a></li>
                        <li class=""><a th:href="@{/backup}">Backup</a></li>
                    </ul>
                </li>


                <!--                <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe"-->
                <!--                    class="nav-item pcoded-hasmenu">-->
                <!--                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span-->
                <!--                            class="pcoded-mtext">User</span></a>-->
                <!--                    <ul class="pcoded-submenu">-->
                <!--                        <li class=""><a href="/" class="">Perfil</a></li>-->
                <!--                        <li class=""><a th:href="@{/logout}" class="">Logout</a></li>-->
                <!--                    </ul>-->
                <!--                </li>-->
            </ul>
        </div>
    </div>
</nav>